<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="StackUnderflow">
        <title>StackUnderflow</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='DefaultStyle.css') }}"> 
        
        <link rel="stylesheet" type="text/css" href="DefaultStyle.css">
        
    </head>
	
	<div class="navbar">
        {% if user %}
		<a href="{{ url_for('index') }}"> Home</a>
		<a href="{{ url_for('get_posts') }}"> My Posts</a>
		<a href="{{ url_for('get_allposts') }}"> All Posts</a>
		<a href="{{ url_for('new_post') }}"> Add Post</a>
        {% else %}
        <a href="{{ url_for('index') }}"> Home</a>
		<a href="{{ url_for('get_posts') }}"> My Posts</a>
		<a href="{{ url_for('new_post') }}"> Add Post</a>
        {% endif %}
        
        
	{% if user %}
		<nav>
			<a href="{{ url_for('logout') }}">Logout</a>
		</nav>
	{% else %}
		<nav>
			<a href="{{ url_for('login') }}">Sign In</a>
			<a href="{{ url_for('register') }}">Register</a>
		</nav>
        
        <img src="moon.png" id="icon">
        
	{% endif %}
	</div>

    <body>
    <div class="dark">
        <h1>Welcome {{user}} to StackUnderflow</h1>

    </div>  
    <script>
        var icon = document.getElementById("icon");
        icon.onclick = function(){
            document.body.classList.toggle("dark-theme");
            if(document.body.classList.contains("dark-theme")){
                icon.src = "sun.png";
            }else{
                icon.src = "moon.png";
            }
        }
            
    </script>
    </body>
        
</html>
