<!DOCTYPE html>
<html lang="en">
	<head>

		<title>New Post</title>
		<meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content=""IE="edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='DefaultStyle.css') }}">
        
        <link rel="stylesheet" type="text/css" href="DefaultStyle.css">
    </head>
	
	<div class="navbar">
        {% if user %}
		<a href="{{ url_for('index') }}"> Home</a>
		<a href="{{ url_for('get_posts') }}"> My Posts</a>
		<a href="{{ url_for('get_allposts') }}"> All Posts</a>
		<a href="{{ url_for('new_post') }}"> Add Post</a>
        {% else %}
        <a href="{{ url_for('index') }}"> Home</a>
		<a href="{{ url_for('get_posts') }}"> My Posts</a>
		<a href="{{ url_for('new_post') }}"> Add Post</a>
        {% endif %}
        

	{% if user %}
		<nav>
			<a href="{{ url_for('logout') }}">Logout</a>
		</nav>
	{% else %}
		<nav>
			<a href="{{ url_for('login') }}">Sign In</a>
			<a href="{{ url_for('register') }}">Register</a>
		</nav>
        <img src="moon.png" id="icon">
	{% endif %}
	</div>
	
<div class="header">
    <h1>New Post</h1>
</div>
<div class="dark">

{% if post %}
<form method="POST" action="{{ url_for('update_post', post_id=post.id ) }}" enctype="multipart/form-data">
    {% else %}
    <form action="new" method="post">
        {% endif %}
        <p><label>Title </label></p>
        <p><input type="text" name="title" value="{% if post %}{{post.title}} {% endif %}"/></p>
        <p><label>Post </label></p>
        <p>
            <textarea name="postText" rows="6" cols="0">

                {% if post %}
                    {{post.text}}
                {% else %}
                    Add your new post here ...
                {% endif %}

            </textarea>
        </p>

          <p><label align="center">Upload Image:</label></p>

        <p>
            <div class="input-group">
                    <span class="input-group-btn">
                    <span class="btn btn-primary btn-file">
                        Browse… <input type="file" id="fileupload" name="file" multiple>
                    </span>
                    </span>
<p class="text-center">
                    <input id="singlebutton" name="singlebutton" class="btn btn-primary" type="submit" value="Publish" />
                </p>
                </div>

        </p>
    </form>


    <div class="main">
     </div>   
    </div>
    <script>
        var icon = document.getElementById("icon");
        icon.onclick = function(){
            document.body.classList.toggle("dark-theme");
            if(document.body.classList.contains("dark-theme")){
                icon.src = "sun.png";
            }else{
                icon.src = "moon.png";
            }
        }
            
    </script>
