<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="StackUnderflow">
        <title>StackUnderflow - View Post</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='DefaultStyle.css') }}">
        
        <link rel="stylesheet" type="text/css" href="DefaultStyle.css">
    </head>
	
	<div class="navbar">
		<a href="{{ url_for('index') }}"> Home</a>
		<a href="{{ url_for('get_posts') }}"> My Posts</a>
		<a href="{{ url_for('get_allposts') }}"> All Posts</a>
		<a href="{{ url_for('new_post') }}"> Add Post</a>
	{% if user %}
		<nav>
			<a href="{{ url_for('logout') }}">Logout</a>
		</nav>
	{% else %}
		<nav>
			<a href="{{ url_for('login') }}">Sign In</a>
			<a href="{{ url_for('register') }}">Register</a>
		</nav>
        
        <img src="moon.png" id="icon">
        
        
	{% endif %}
	</div>
	
    <body>
     <div class="dark">   
        <table>
            <tr>
                <th>Title</th>
                <th>Text</th>
                <th>Date</th>
            </tr>
            <tr>
                <td>{{ post.title }}</td>
                <td>{{ post.text }}</td>
                <td>{{ post.date }}</td>
            </tr>
        </table>
        {% if post.comments %}
            {% if post.comments|length > 0 %}
                <h2>Comments</h2>
                <ul>
                {% for comment in post.comments %}
                    <li>{{ comment.content }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endif %}
        <form action="{{ url_for('new_comment', post_id=post.id) }}" method="post">
            <div class="formwrapper">
                <h2 class="title">Add a comment</h2>
                    <div class="form-field">
                        {{ form.comment.label }} <br/> {{ form.comment }}
                    </div>
                {{ form.submit }}
            </div>
           </div>
        </form>
        <script>
        var icon = document.getElementById("icon");
        icon.onclick = function(){
            document.body.classList.toggle("dark-theme");
            if(document.body.classList.contains("dark-theme")){
                icon.src = "sun.png";
            }else{
                icon.src = "moon.png";
            }
        }
            
    </script>
    </body>
</html>