<!DOCTYPE html>
<html lang="en">
<head>
    <title>Posts</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='DefaultStyle.css') }}"> 
        
        <link rel="stylesheet" type="text/css" href="DefaultStyle.css">
    </head>
	
	<div class="navbar">
		<a href="{{ url_for('index') }}"> Home</a>
		<a href="{{ url_for('get_posts') }}"> My Posts</a>
		<a href="{{ url_for('get_posts') }}"> All Posts</a>
		<a href="{{ url_for('new_post') }}"> Add Post</a>
	{% if user %}
		<nav>
			<a href="{{ url_for('logout') }}">Logout</a>
		</nav>
	{% else %}
		<nav>
			<a href="{{ url_for('login') }}">Sign In</a>
			<a href="{{ url_for('register') }}">Register</a>
		</nav>
        
        <img src="moon.png" id="icon">
        
	{% endif %}
	</div>
    <div class="dark">


<table>
    <tr>
        <th>Title</th>
        <th>Date</th>
    </tr>
    {% for post in posts %}
    <tr>
        <td>{{ post.title }}</td>
        <td>{{ post.date }}</td>
        <td><a href="{{ url_for('update_post', post_id=post.id)  }}">Edit</a></td>
        <td><a href="{{ url_for('get_post', post_id=post.id)  }}">View</a></td>
        <td>
            <form action="{{ url_for('delete_post', post_id=post.id) }}" method="post">
                <input type="submit" value="Delete">
            </form>
        </td>
    </tr>
    {% endfor %}
</table>


<div class="main">
</div>
</div>
<script>
        var icon = document.getElementById("icon");
        icon.onclick = function(){
            document.body.classList.toggle("dark-theme");
            if(document.body.classList.contains("dark-theme")){
                icon.src = "sun.png";
            }else{
                icon.src = "moon.png";
            }
        }
            
    </script>    
