

body{
	color white;
	background: #121212;
}

a {
	color: #0033cc;
}


/* Body Style */
body {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	background: #121212;
	color: #eee;
}

/* Header Style */
.header {
	padding: 5px;
	text-align: center;
	background: #0025fa;
	color: white;
}

/* h1 Size */
.header h1 {
	text-align: center;
	font-size: 50px;
	color: white;
}

p {
	color: white;
}

/* Navbar Style */
.navbar {
	overflow: hidden;
	background-color: #89878a;
}

/* Navbar Link Style */
.navbar a {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 15px 20px;
}

/* Navbar Color Change when Highlighted */
.navbar a:hover {
	background-color: #bcbbbd
}

/* Sends Navbar Link to the Right */
.navbar a.right {
	float: right;
}

/* Main Body Style */
.main {
	text-align: center
	-ms-flex: 70%; /* IE10 */
	flex: 70%;
	background-color: white;
	padding: 20px;
}

ul {
	list-style-type: none;
}
li {
  float: center;
}
