<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='DefaultStyle.css') }}"> 
        
    <link rel="stylesheet" type="text/css" href="DefaultStyle.css">
    </head>
	
	<div class="navbar">
		<a href="{{ url_for('index') }}"> Home</a>
		<a href="{{ url_for('get_posts') }}"> My Posts</a>
		<a href="{{ url_for('get_allposts') }}"> All Posts</a>
		<a href="{{ url_for('new_post') }}"> Add Post</a>
        
        
	{% if user %}
		<nav>
			<a href="{{ url_for('logout') }}">Logout</a>
		</nav>
	{% else %}
		<nav>
			<a href="{{ url_for('login') }}">Sign In</a>
			<a href="{{ url_for('register') }}">Register</a>
		</nav>
        
        <img src="moon.png" id="icon">
        
	{% endif %}
	</div>
    <div class="dark">
        <div class="formwrapper">
            <h2 class="title">Login</h2>
            <form method="POST" action="/login">
                <div class="form-field">{{ form.email.label }} {{ form.email }}
                    {% if form.email.errors %}
                    <ul class="errors">
                        {% for error in form.email.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-field">{{ form.password.label }} {{ form.password }}
                    {% if form.password.errors %}
                    <ul class="errors">
                        {% for error in form.password.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                {{ form.submit }}
            </form>
            </div>
        </div>
    <script>
        var icon = document.getElementById("icon");
        icon.onclick = function(){
            document.body.classList.toggle("dark-theme");
            if(document.body.classList.contains("dark-theme")){
                icon.src = "sun.png";
            }else{
                icon.src = "moon.png";
            }
        }
            
    </script>
    </body>
</html>